.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.datagrid,
.punch-button {
    margin: auto;
    margin-bottom: 10px;
    width: 280px;
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #006699;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.datagrid table,
.datagrid table th {
    padding: 10px 10px;
}

td.day,
td.punches td {
    padding: 3px 20px;
}

td.day {
    text-align: center;
}

.datagrid table thead th {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F));
    background: -moz-linear-gradient( center top, #006699 5%, #00557F 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color: #006699;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #0070A8;
    text-align: center;
}

.datagrid table thead th:first-child {
    border: none;
}

.datagrid table tbody td {
    color: #00496B;
    /*border-left: 1px solid #E1EEF4;*/
    font-size: 12px;
    font-weight: normal;
}

tr {
    border-top: 1px solid rgba(0, 73, 107, 0.24);
}

table tbody .alt td.day {
    background-color: #E1EEF4;
    color: #00496B;
}

table tbody td:first-child {
    border-left: none;
}

table tbody tr:last-child td {
    border-bottom: none;
}

table tfoot td div {
    border-top: 1px solid #006699;
    background-color: #E1EEF4;
}

td.total {
    text-align: right;
    font-weight: bold;
    color: #00496B;
    padding: 3px 15px;
}

table tfoot td {
    padding: 0;
    font-size: 12px;
}

table tfoot td div {
    padding: 2px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    margin: 1px;
    color: #FFFFFF;
    border: 1px solid #006699;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F));
    background: -moz-linear-gradient( center top, #006699 5%, #00557F 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color: #006699;
}

ul.active,
ul a:hover {
    text-decoration: none;
    border-color: #006699;
    color: #FFFFFF;
    background: none;
    background-color: #00557F;
}

div.dhtmlx_window_active,
div.dhx_modal_cover_dv {
    position: fixed !important;
}

.in, .out {
    text-align: right;
    border: none;
}

.out {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,c6c6c6+51&0+0,0.68+35 */
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(216,216,216,0.68) 35%, rgba(198,198,198,0.68) 51%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(216,216,216,0.68) 35%,rgba(198,198,198,0.68) 51%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(216,216,216,0.68) 35%,rgba(198,198,198,0.68) 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#adc6c6c6',GradientType=1 ); /* IE6-9 */
}

#clock {
    font-size: 25px;
    text-align: center;
    margin: 30px;
}

.punch-button {
    color: #FFFFFF;
    border: 1px solid #076D00;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, rgba(31, 153, 0, 0.66)), color-stop(1, #2FE422));
    background: -moz-linear-gradient( center top, #006699 5%, #00557F 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color: #076d00;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    text-align: center;
}

.punch-button:hover {
    text-decoration: none;
    border-color: #076d00;
    color: #FFFFFF;
    background: none;
    background-color: #076d00;
}