
@media (min-width: 600px) {
    .homeBody {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: dimgray;
    }

    .containerLeft {
        width: auto;
    }

    .containerRight {
        width: 100%;
        background-color: #FEFEFE;
    }
}