.punchPanelWrapper {
    background-color: #FFF;
    padding: 5px;
    width: 500px;
    margin-top: 20px;
}

.clockPanel {
    border: 1px solid #006699;
    padding: 5px;
    margin: 10px 10px 10px 10px;
}

.date {
    text-align: center;
    padding: 10px;
}

.clock {
    text-align: center;
    padding: 10px;
    font-size: 25px;
    background-color: #CCCCCC;
    border-radius: 3px;
    border: 1px solid dimgray;
    margin: 0 25px 15px 25px;
}

.buttonPanel {
    margin: 0px 10px 0px 10px;
}

button.punchIn,
button.punchOut {
    width: 100%;
    height: 100px;
    color: #FFFFFF;
    border-radius: 3px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.punchIn {
    border: 1px solid #076D00;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2FE422), color-stop(1, rgba(31, 153, 0, 0.66)));
    background-color: #076D00;
}

.punchIn:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, rgba(31, 153, 0, 0.66)), color-stop(1, #2FE422));
    background-color: #076D00;
}

.punchIn:active {
    background: none;
    background-color: #076D00;
}

.punchOut {
    border: 1px solid #6D0000;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #E42222), color-stop(1, rgba(153, 0, 0, 0.66)));
    background-color: #6D0000;
}

.punchOut:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, rgba(153, 0, 0, 0.66)), color-stop(1, #E42222));
    background-color: #6D0000;
}

.punchOut:active {
    background: none;
    background-color: #6D0000;
}

@media (min-width: 750px) {
    .punchPanelWrapper {
        width: 300px;
        margin: 5px;
        padding-bottom: 20px;
    }
}