.container {
    height: 100%;
}

.textBold {
    font-weight: bolder;
}

.alertInfo {
    background-color: #d9edf7;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 15px;
    color: #31708f;
    font-size: 14px;
    border: 1px solid #bce8f1;
}